html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

* {box-sizing: border-box;}

.intro-container{
  height: 250px;
  background-image: url(https://static.pexels.com/photos/28827/pexels-photo-28827.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.portfolio-container{
  display: flex;
  flex-flow: row wrap;
  margin: 25px auto;
  width: 1000px;
}
.large-card{
  width: 500px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini-cards-container{
  display: flex;
  flex-flow: row wrap;
}
.mini-card{
  width: 250px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1000px) {

}